
#filters
  box-sizing: border-box
  float: right
  width: 30%
  height: 30em
  background-color: white
  padding: 1em

  h2
    font-size: 1.2em

  p
    color: lighten(fg-color, 20)

  .indicators
    h3
      display: inline-block
      float: left
      font-size: 1em

    .ranking-toggle-title
      display: inline-block
      float: right
      margin: 1em 1em 0 0
