
#filters
  box-sizing: border-box
  float: right
  width: 30%
  height: 30em
  background-color: white
  padding: 1em

  h2
    font-size: 1.2em

  p
    color: lighten(fg-color, 20)
    font-size: .9em

  .indicators
    .indicators-header
      display: block
      width: 100%
      height: 3em

      h3
        display: inline-block
        float: left
        font-size: 1em

      .ranking-toggle-title
        display: inline-block
        float: right
        margin: 1em 1em 0 0

    .indicators-input
      margin-top: 1em

      input
        display: inline-block

        &:checked + label
          font-weight: bold

      label
        display: inline-block
        margin-left: .5em

  .separator
    margin-top: 2em
    border-top: 1px solid lighten(light-grey, 10)
    width: 100%

  .subtitles
    margin-top: 1em

    .item
      width: 33%
      display: inline-block

      .circle
        margin-right: .5em
        display: inline-block

        &.red
          circle(fg-red)

        &.yellow
          circle(fg-yellow)

        &.green
          circle(fg-green)

      .label
        display: inline-block



