@import '../../bower_components/jeet/stylus/jeet'

white = #fff
dark-blue = #4c5768
light-blue = #3db4d7
light-grey = #d1d1d1

bg-color = #dae0e6
fg-color = dark-blue

fg-red = #b40033
fg-yellow = #efa535
fg-green = #4e9d55

horizontal-size = 960px

*
  font-size: 12px
  box-sizing: border-box

  &:after, &:before
    box-sizing: border-box

body
  background-color: bg-color
  color: fg-color

#container
  center(horizontal-size)

#main
  margin-top: 4em
  min-height: 30em

.small-divider
  border-top: 1px solid light-blue
  width: 2em

circle(fgcolor=fg-color, size=1em)
  width: size
  height: size
  background-color: rgba(0,0,0,0)
  border-color: fgcolor
  border-style: solid
  border-width: min((size / 4), .4em)
  border-radius: (size / 2)

.circle-marker
  circle(fg-color, 2em)

  &.indicator-green
    border-color: fg-green

  &.indicator-yellow
    border-color: fg-yellow


  &.indicator-red
    border-color: fg-red

  .inner-content
    display: none
    font-size: 0.8em;
    font-weight: bolder;
    width: 2em;
    height: 2em;
    margin: 8px 0 0 4px;

    text-align: center;


.circle-marker-active
  circle(fg-color, 4em)

  width: 4em !important
  margin-left: -2em !important
  margin-top: -1em !important
  transition: width 0.4s, height 0.4s, margin-left 0.4s, margin-top 0.4s;

@import "header"
@import "footer"
@import "home"
@import "switch"
