
#map
  float: left
  width: 70%
  height: 30em

  .leaflet-control-attribution
    display: none

  .leaflet-control-zoom
      background-color: transparent
      border: none
      margin: 0

      a
        text-indent: 0
        text-align: center
        background-color: light-blue
        opacity: 100
        margin: 1px
        color: white
        font-weight: bold
        font-size: 1.5em
