
#map
  float: left
  width: 70%
  height: 30em

  .leaflet-control-zoom
      background-color: transparent
      border: none
      margin: 0

      a
        background-color: light-blue
        opacity: 100
        margin: 1px
        color: white
